<div class="container">
  <h2 class="mt-5">List of Articles</h2>
  <table class="table table-bordered mt-2">
    <tr>
      <th>Article Name</th>
      <th>Article Text</th>
      <th>Date of Publish</th>
      <th>Article Writer</th>
    </tr>

    <tr *ngFor="let article of articles">
      <td class="align-middle">{{article.name}}</td>
      <td class="align-middle">{{article.text}}</td>
      <td class="align-middle">{{article.date}}</td>
      <td class="align-middle">{{article.writer}}</td>
      <td><a routerLink="{{article.id}}">View Article</a></td>
      <td><a routerLink="'edit:' + {{article.id}}">Edit Article</a></td>
      <td><a routerLink="'delete:' + {{article.id}}">Delete Article</a></td>
    </tr>
  </table>
  <ul class="navbar-nav ml-auto list-group-horizontal">
    <li class="nav-item mr-3">
        <button type="submit" (click)="goBack()">Back</button>
    </li>
    <li class="nav-item mr-3">
      <a href="/create">
        <button type="submit">Add Article</button>
      </a>
    </li>
  </ul>

</div>
